@tailwind base;
@tailwind components;
@tailwind utilities;

.dark p {
  color: white;
}

body {
  background-color: whitesmoke;
}

/* .dark span {
  @apply text-cyan-500;
}

span {
  @apply text-blue-950;
} */

p {
  @apply text-blue-950;
}

* {
  @apply transition-colors duration-500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Animação de entrada da direita */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInRight 1s ease-in-out forwards;
}

/* Animação de entrada da esquerda */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease-in-out forwards;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.visible {
  opacity: 1;
}
